<header class="p-3 text-bg-dark" style="position: fixed; width: 100%; top: 0px; z-index: 2;" >
    <div class="container  ">
      <div class="d-flex flex-wrap align-items-center   rcenter">
        
          <a href="{% url 'homepage' %}" class="nav-link px-2 text-white">Home</a>
          <a href="{% url 'App:features' %}" class="nav-link px-2 text-white">Features</a>
         
          <a href="{% url 'user:faqs' %}" class="nav-link px-2 text-white">FAQs</a>
          <a href="{% url 'App:about' %}" class="nav-link px-2 text-white">About</a>
        

        <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form> -->

        <!-- <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div> -->
      </div>
    </div>
  </header>